# Enable Bzlmod for every Bazel command
common --enable_bzlmod

## clang tidy
# Required for bazel_clang_tidy to operate as expected
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report

# override the .clang-tidy config file target
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//tools/lint:clang_tidy_config

# Use the clang-tidy from LLVM 21.1.0 toolchain
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_executable=@llvm_toolchain_21//:clang-tidy
