# Ignore ros2monitor logs
logs/

# Ignore Python cache files
**/__pycache__**
**/.pytest_cache**

# Ignore ruff
**/.ruff_cache

#Ignore egg and dist files
*.egg
*.egg-info

*bazel-*
*MODULE.bazel.lock*

# Ignore symlinks created by setup_clang_env.sh
tools/lint/clangd
.clang-tidy
.clang-format
